

.nav-wrapper{
	padding-top: 50px;
	padding-bottom: 5px;
	background: #000;
	
}




/*******************
 		МЕНЮ
 *******************/

.content{
	margin-top: 30px;
	margin-bottom: 30px;
}



.widget {
padding: 20px ;
background: white;
font-size: 25px;
margin-bottom: 30px;
box-shadow: 3px 3px 1px rgba(0,0,0,.05);/* иконка*/

}

.widget-title {
font-size: 20px;
padding: 5px;
margin-bottom: 20px;
text-align: center;
border: 2px solid #F8B763;
box-shadow: 3px 3px 0 0 #F8B763;
}

.widget-title a{
	color: #626262;
margin-right: 6px;
font-style: normal;

}
.widget-title a:before {

display: inline-block;
font-family: 'FontAwesome';
margin-right: 10px;
color: #c6c6c6;
}

.widget-category-list li {
border-bottom: 1px solid #EBEBE3;
padding: 10px 0;
color: #c6c6c6;
font-style: italic;
}
.widget-category-list li:last-child {
border-bottom: none;
}
.widget-category-list li a {
color: #626262;
margin-right: 6px;
font-style: normal;
}
.widget-category-list li a:before {
content: "\f105";
display: inline-block;
font-family: 'FontAwesome';
margin-right: 10px;
color: #c6c6c6;
}



/*******************
 		ТОВАР
 *******************/

/*чтобы картинки помещались в блок товара и не вылазили за определенные границы*/
.product-item {
  width: 300px;
  margin: 0 auto;
  padding: 10px 10px 5px 10px;
  border: 1px solid #eee;
  background: white;
  font-family: "Open Sans";
  overflow: hidden;
  transition: .4s linear;
  margin-bottom: 20px;
}
.product-img {transition: 1s ease-in-out;}
.product-img:hover {transform: scale(1.1);}
.product-img img {
  display: block;
  width: 100%;
}
.product-list {margin-top: 15px;}
.product-list h3 {
  font-weight: 700;
  color: #39404B;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
}
.price {
  color: #E34D38;
  display: block;
  margin-bottom: 12px;
}
.stars {
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
}
.stars:before {
  content: "\f005\f005\f005\f005\f006";
  color: #EFB71C;
  font-size: 14px;
  font-family: FontAwesome;
}
.actions {
  border-top: 1px solid #eee;
  padding-top: 4px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
.actions:after {
  content: "";
  display: table;
  clear: both;
}
.add-to-cart, .add-to-links {float: left;}
.cart-button {
  text-decoration: none;
  color: #8C877C;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  transition: .4s linear;
}
.cart-button:before {
  content: "\f07a";
  font-family: FontAwesome;
  margin-right: 10px;
}
.add-to-cart:hover .cart-button, .wishlist:hover, .compare:hover {color: #E34D38;}
.wishlist, .compare {
  color: #8C877C;
  padding-left: 20px;
  transition: .4s linear;
}
.wishlist:after, .compare:after {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 13px;
}
.wishlist:after {content: "\f004";}
 .compare:after {content: "\f079";}


















 /*****************
	FOOTER
******************/

.footer{
	background-color: #000;
	padding: 20px 0 25px;
	text-align: center;
	bottom: 0;
	

}

.footer-nav{
	margin-bottom: 20px;

}	

.footer-nav__link{
	font-size: 13px;
	line-height: 1.5;
	color: #fff;
	margin-right: 35px;

}

.footer-nav__link:last-child{
	margin-right: 0px;
}

.footer-nav__link:hover{
	color: #db0f68;
	text-decoration: none;
}

.footer__social{
	margin-bottom: 20px;
	color: #fff;
	font-size: 20px;

}

.footer__social a{
	color: #fff;
	text-decoration: none;
	margin-right: 25px;
}

.footer__social a:last-child{
	margin-right: 0px;

}

.footer__social a:hover, .footer__social a:active, .footer__social a:focus{
	color: #6fbcf2;
	text-decoration: none;
}

.footer__copyright{
	color: #d4bec8;
	font-size: 12px;

}



/*****************
  связь
******************/



.nesolestag-enadenud {
  width: 100%;
  
}

.kesednsoled:after,
.kesednsoled:before {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}
.ico-wrap {
  color: #fff;
  width: 30px;
  height: 30px;
  margin: 0px 20px 5px 5px;
  display: block;
  font-size: 25px; 
  float: right;
  
}
.ico-contact {

}
.meanous-andscoev {
  float: right;
  margin-bottom: 20px;
}
.aio-icon-title {
  font-size: 15px;
  color: #fff;
  line-height: 1;
  margin-bottom: 8px;
}

.aio-icon-description{
  color: #deded1;
  font-size: 12px;
}